html {
	background: #FD8428;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
	color: #001C40;
}

.heading {
	font-family: "garamond-premier-pro-display";
	font-weight: 700;
	font-style: normal;
	font-size: 72px;
}