html {
	background: #FD8428;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
	color: #001C40;
	margin: 0;
}

a {
	text-decoration: none;
	color: #001C40;
}

.container {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    width: 100%;
}

.heading {
	font-family: "garamond-premier-pro-display";
	font-weight: 700;
	font-style: normal;
	font-size: 102px;
}